/* © coded by Shiba https://shiba.house/
Like the code? Star it on github!
    
                                                                  ████████                        
                                                                  ▒▒██████                        
          ▒▒▓▓████                                              ████▒▒▒▒██░░                      
          ████████  ░░                                      ░░▒▒██▓▓▒▒▒▒▒▒▓▓██▒▒                  
          ████▒▒▒▒████                                      ██████▒▒▒▒▒▒▒▒▒▒████                  
          ▓▓██▓▓▒▒▓▓▓▓████                              ░░▒▒████▓▓▒▒▒▒░░▒▒▒▒████                  
      ▒▒██▓▓▒▒▒▒▒▒▒▒▒▒████▒▒▒▒                          ░░████▒▒▒▒▒▒▒▒  ▒▒▒▒████                  
      ░░████▒▒▒▒  ▒▒▒▒▒▒▒▒████        ░░░░▒▒████▓▓▓▓██████▒▒▒▒▒▒▒▒░░    ░░▒▒▓▓██▓▓                
      ░░████▒▒▒▒  ░░▒▒▒▒▒▒▒▒▒▒██████████████████████████▓▓████▓▓▒▒░░      ▒▒▒▒████                
      ░░████▒▒▒▒      ░░▒▒▒▒▓▓██▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒██████▒▒▒▒  ░░░░▒▒▒▒████                
        ████▒▒▒▒        ▒▒▓▓████▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒░░        ░░▒▒████░░              
        ████▒▒▒▒          ░░▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒    ▒▒▓▓████              
        ████▒▒▒▒    ░░░░░░▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒░░▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒████              
        ████▒▒▒▒    ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒░░░░▒▒▒▒▒▒▒▒▒▒▒▒▒▒            ▒▒▒▒▒▒▒▒▒▒▒▒▒▒████░░            
        ████▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒              ▒▒▒▒▒▒▒▒▒▒▒▒  ░░▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓██▒▒░░          
        ████▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒░░░░░░▒▒▒▒    ▒▒▒▒▒▒▒▒▒▒▒▒░░  ▒▒▒▒▒▒▓▓▓▓▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒██▓▓        
        ▓▓██▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒░░░░▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓██████▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒████    
        ▒▒██▓▓▒▒▒▒▒▒▒▒▒▒▒▒████████▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓▓▓▓▓████████▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒████▒▒  
    ▒▒▓▓██▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒████████▓▓▓▓▓▓▒▒▒▒        ▒▒▒▒▒▒▓▓██████████▓▓▒▒▒▒▒▒▒▒▒▒▒▒░░▒▒▒▒▓▓████  
    ▒▒████▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒██████████████▒▒▒▒        ░░░░░░          ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒  ░░▒▒▓▓████  
  ▒▒▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓▓▓▒▒▒▒░░                            ░░    ░░        ░░  ░░  ▒▒▒▒████▒▒
  ████▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒░░                ░░░░▒▒██    ░░                  ░░  ░░░░▒▒▒▒████▓▓
  ████▒▒▒▒    ▒▒▒▒▒▒▒▒▒▒▒▒▒▒░░░░            ▒▒██████████▒▒        ████                  ░░▒▒▓▓████
  ████▒▒▒▒    ░░                              ▓▓▒▒████░░          ████          ░░░░░░▒▒▒▒████    
  ████▒▒▒▒                      ████░░            ████  ░░██▓▓██▓▓▓▓          ░░  ░░  ▒▒▒▒████▒▒░░
  ████▒▒▒▒                      ████▓▓▒▒▒▒▒▒▓▓▓▓████████████████████          ░░      ▒▒▒▒▓▓████  
  ████▒▒▒▒░░                        ░░████████████████▓▓▓▓▒▒                    ░░░░░░▒▒████▒▒░░  
  ████▓▓▓▓▒▒▒▒░░                    ░░██▓▓▒▒░░░░▒▒▒▒▒▒▒▒▒▒▒▒                ░░  ▒▒▒▒▒▒▒▒████▓▓    
      ████▓▓▒▒░░                                ▒▒▒▒▒▒▒▒▒▒▒▒            ░░  ░░  ▒▒▒▒▓▓▓▓▓▓▒▒░░    
      ▓▓██▓▓▒▒░░                                ▒▒▒▒▒▒▒▒▒▒▒▒░░  ░░░░▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓████        
      ▒▒████░░░░      ░░                        ▒▒▒▒▒▒▒▒▒▒▒▒    ░░▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓████        
      ▓▓████▒▒▓▓░░░░▒▒▒▒░░                      ▒▒░░░░          ░░▒▒▒▒▒▒▒▒▒▒▓▓████████            
          ░░████▒▒▒▒▒▒▒▒░░        ░░░░▒▒▒▒▒▒░░              ░░░░░░▒▒▒▒████████████████░░          
          ░░████▒▒▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒░░░░▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒██████████████▓▓░░          
                ████▒▒▒▒▒▒▒▒▒▒▒▒▒▒██████▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓▓▓██▒▒░░                      
                ██▓▓████████████████████▒▒▒▒▒▒▒▒▒▒▓▓▓▓██████████████████                          
                    ██████████████████░░████████████████████████████▒▒░░                          
                                        ████████████▒▒░░                                          

*/
/* ---- declarations ---- */
/* declaring font */
@font-face {
    font-family: "raleway";
    src: url("raleway.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@keyframes animateColor {
    from {
        color: var(color);
    }
    to {
        color: var(--color-end);
    }
}

@keyframes headerButtonBorder {
    to {
        border-color: var(--accent-color);
        background-color: var(--accent-color);
    }
}

/* ---- global ---- */
:root, html, body {
    /* global variables */
    --accent-color: #04c2c9;
    --alt-color: maroon;
    --background-color: #333333; /* pebble */
    --alt-background-color: #dee4e7;
    --text-color: #E1D9D1;
    --alt-text-color: #222;

    font-family: "raleway", "Raleway", "calibri", "arial"; /* setting font (second raleway is imported from google*/
    scroll-behavior: smooth;

    color: var(--text-color);
    background-color: var(--background-color);

    margin: 0;
    background: var(--background-color);
}

/* ---- classes ---- */
.redHover:hover {
    --color-end: var(--alt-color);
    animation-name: animateColor;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; /* makes animation stay on endstate */
}

/* ---- global selectors ---- */
/* a tag */
a {
    color: dimgray;
    text-decoration: none;
}

a:active {
    color: var(--alt-color);
    text-decoration: underline;
}

a:visited { color: dimgray; }

/* button */
button:hover { cursor: pointer; }

/* ---- navigation ---- */
/* lists */
nav ul {
    display: flex;
    padding: 0;
    
    flex-wrap: wrap;
    justify-content: center; /* center the items */
}

nav li {
    display: block;
    
    list-style-type: none; /* removing markers */
    padding: 10pt;
}

/* ---- header ---- */
header {
    display: flex;
    
    justify-content: center; /* center items */
    flex-direction: column;
    flex-wrap: wrap;
}

header h1 { font-size: 500%; }

header h1, header button {
    text-align: center;
    font-weight: lighter;
    
    color: var(--text-color);
}

header button {
    align-self: center;
    
    background: none;
    border: thin;
    border-style: solid;
    border-color: var(--text-color);
}

header button:hover {
    --color-end: var(--alt-text-color);
    border-color: var(--text-color);
    
    animation: animateColor 0.5s, headerButtonBorder 0.5s;
    animation-fill-mode: forwards; /* makes animation stay on endstate */
}

/* ---- media queries ---- */
/* light mode */
@media (prefers-color-scheme: light) {
    /* global variables */
    html, body, :root {
        color: var(--alt-text-color);
        background-color: var(--alt-background-color);
        border-color: var(--alt-text-color);
        --color-end: var(--text-color);
    }

    header h1, header button {
        color: var(--alt-text-color);
        border-color: var(--alt-text-color);
    }

    header button:hover { --color-end: var(--text-color); }

}
